{% extends 'base.html' %}
{% load static %}

{% block title %} - Editar produto{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'app/styles/forms.css' %}" />
{% endblock extrahead %}

{% block content %}
<main class="container">
    {% include 'back.html' %}
    <h1 class="display-4 text-center fw-bolder mb-5">Editar produto</h1>

    <form method="post" enctype="multipart/form-data" class="row container p-5 w-fit-content">
        {% csrf_token %}
        
        {{ form.as_table }}

        <button type="submit" class="btn btn-lg btn-dark my-5">Enviar</button>
    </form>
</main>
{% endblock content %}