{% extends 'base.html' %}
{% load static %}

{% block title %} - Troque sua senha{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'app/styles/forms.css' %}">
{% endblock extrahead %}

{% block content %}
<main class="container">

    {% include 'back.html' %}
    <h1 class="fs-2 text-center fw-bolder mb-5">Troca de senha</h1>
    
    <form method="post" class="row container p-5 w-fit-content">
        {% csrf_token %}

        {{ form.as_table }}
        <input name="email" type="hidden" value="{{ email }}" />

        <button type="submit" class="btn btn-lg btn-dark my-5">Enviar</button>
    </form>

</main>
{% endblock content %}