{% extends 'base.html' %}
{% load static %}

{% block title %} - Insira seu token{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'app/styles/forms.css' %}">
{% endblock extrahead %}

{% block content %}
<main class="container">
{% include 'back.html' %}

<h1 class="fs-2 text-center fw-bolder mb-5">Insira o token enviado por email</h1>
<p class="text-body-secondary text-center">Este token tem duração de apenas 5 minutos</p>

    <form action="{% url 'app:switch_pass' %}" method="post" class="row container p-5 w-fit-content">
        {% csrf_token %}
        
        {{ form.as_table }}

        <button type="submit" class="btn btn-lg btn-dark my-5">Enviar</button>
    </form>
</main>
{% endblock content %}