{% extends 'base.html' %}
{% load static %}

{% block title %} - Envio{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'app/styles/forms.css' %}">
{% endblock extrahead %}

{% block content %}
{% include 'header.html' %}

<main class="container">
    {% include 'back.html' %}
    <h1 class="display-4 text-center fw-bolder mb-5">Dados de envio</h1>


    <form method="post" action="{% url 'app:checkout' %}" class="row container p-5 d-grid">
        {% csrf_token %}
        {{ form.as_table }}

        <button type="submit" class="btn btn-lg btn-dark my-5">Enviar</button>

    </form>

</main>
{% endblock content %}